<%= stylesheet_link_tag "form.css" %>
<%= form_with model: @user do |form| %>
  <div class="container">
  <div class="form-group">
    <%= form.label :user_name, "User Name", class: "required" %><br>
    <%= form.text_field :name,:required => true, class: "form-control" %>
    <% if user.errors[:name].any? %>
      <div class="error-msg">Name <%= user.errors[:name][0] %></div>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.label :email, class: "required" %><br>
    <%= form.text_field :email,:required => true, class: "form-control" %>
    <% if user.errors[:email].any? %>
      <div class="error-msg">Email <%= user.errors[:email][0] %></div>
    <% end %>
  </div>
  <% if @user.id == nil %>
    <div class="form-group">
      <%= form.label :password, class: "required" %><br>
      <%= form.password_field :password,:required => true, class: "form-control" %>
      <% if user.errors[:password].any? %>
      <div class="error-msg">Password <%= user.errors[:password][0] %></div>
    <% end %>
    </div>
    <div class="form-group">
      <%= form.label :password_confirmation, "Confirm Password", class: "required" %><br>
      <%= form.password_field :password_confirmation,:required => true, class: "form-control" %>
      <% if user.errors[:password_confirmation].any? %>
        <div class="error-msg">Confirm Password <%= user.errors[:password_confirmation][0] %></div>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :phone %><br>
    <%= form.text_field :phone,:required => false, class: "form-control" %>
    <% if user.errors[:phone].any? %>
    <div class="error-msg">Phone <%= user.errors[:phone][0] %></div>
  <% end %>
  </div>
  <div class="form-group">
    <%= form.label :address %><br>
    <%= form.text_field :address,:required => false, class: "form-control" %>
    <% if user.errors[:address].any? %>
    <div class="error-msg">Address <%= user.errors[:address][0] %></div>
  <% end %>
  </div>
  <div class="form-group">
    <%= form.label :birthday %><br>
    <%= form.date_field :birthday,:required => false, class: "form-control" %>
    <% if user.errors[:birthday].any? %>
    <div class="error-msg">Birthday <%= user.errors[:birthday][0] %></div>
  <% end %>
  </div>
  <div class="form-group">
    <%= form.label :super_user_flag, "Create as", class: "required" %><br />
    <%= form.radio_button :super_user_flag, true, class: "super-user-flag" %>
    <%= form.label :super_user_flag, "Admin", :value => "true" %><br>
    <%= form.radio_button :super_user_flag, false, class: "super-user-flag" %>
    <%= form.label :super_user_flag, "User", :value => "false" %>
    <% if user.errors[:super_user_flag].any? %>
    <div class="error-msg">User Type <%= user.errors[:super_user_flag][0] %></div>
  <% end %>
  </div>
    <%= form.submit class: "btn-submit" %>
    <%= link_to 'Cancel', back  %>

  </div>
<% end %>